<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="admin-container">
                <h2>Admin</h2>
                <div class="d-grid gap-2">
                    <a href="/admin/signin" class="btn btn-outline-success">Signin</a>
                    <a href="/admin/signup" class="btn btn-outline-success">SignUp</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="user-container">
                <div class="user-container">
                    <h2>User</h2>
                    <div class="d-grid gap-2">
                        <a href="/user/signin" class="btn btn-outline-success">Signin</a>
                        <a href="/user/signup" class="btn btn-outline-success">SignUp</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>