<link rel="stylesheet" href="/css/bloodPressureCal.css">

<div class="container">
    <div class="row">
        <div class="col-sm-6 divs">
            <div class="form-container">
                <center>
                    <h4><b>Blood Pressure Calculator</b></h4>
                </center>
                <form action="" id="bloodPressure" method="get">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Systolic Blood Pressure</label>
                        <input type="number" name="systolic" min="10" max="250" class="form-control" required>
                        <div id="emailHelp" class="form-text">mmHg</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Diastolic Blood Pressure</label>
                        <input type="number" name="diastolic" min="10" max="250" class="form-control" required>
                        <div id="emailHelp" class="form-text">mmHg</div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Button</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-6">
            
                <div class="calcuteors">
                    <center>
                    <h4>Blood Pressure Report</h4>
                    <img src="https://cdn-icons-png.flaticon.com/256/3063/3063051.png" alt=""><br>
                    <h4 style="color:fuchsia"><b>
                            <div id="result-list">

                            </div>
                        </b></h4>
                    </center>
                </div>
            
        </div>

        <div class="col-sm-6">
            <div>
                <center><img src="/img/Systolic_vs_Diastolic.jpg" width="100%" height="100%" alt="notFound"></center>
            </div>
        </div>
        <div class="col-sm-6">
            <div>
                <center><img src="https://www.ayushakti.com/images/uploads/diet_media/20221012120904_BloodPressure-02.png" width="100%" height="100%" alt="notFound"></center>
            </div>
        </div>
    </div>
</div>

<script src="/js/bloodPressureCal.js"></script>