<link rel="stylesheet" href="/css/bloodPressureCal.css">
<!-- BMI calculetor -->
<div class="container">
    <div class="row">
        <!-- BMI Input -->
        <div class="col-sm-6 ">
            <div class="form-container">
                <center>
                    <h4><b>BMI Calculator</b></h4>
                </center>
                <form action="" id="BMIContainer" method="get">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Height</label>
                        <input type="text" placeholder="Height In Meter" name="height" class="form-control" required>
                        <div id="emailHelp" class="form-text">mmHg</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Weight</label>
                        <input ype="text" name="weight" placeholder="Weight In KG" class="form-control" required>
                        <div id="emailHelp" class="form-text">mmHg</div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-dark " type="submit">Button</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-sm-6">
            <!-- output -->
            <div class="calcuteors">
                <center>
                    <div id='myBMI'><a class="zc-ref" href="https://www.zingchart.com/"></a>
                        <center>
                            <h3>BMI Score</h3>
                        </center>
                    </div>
                </center>
            </div>
        </div>
    </div>
</div>

<!-- script -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="/js/BMICalculator.js"></script>